//Colors
$lightgray: rgb(156, 163, 175);
$darkgray: darkgray;
$black: black;
$white: white;
$purple: rgba(152, 69, 254, 0.6);
$teal: (0, 209, 139, 0.6);
$orange: rgb(227, 175, 11);


//Fonts

$font-sm: 0.875rem;
$font-med: 1rem;
$font-big: 3rem;